@import 'tailwindcss';
@import 'fumadocs-ui/css/ocean.css';
@import 'fumadocs-ui/css/preset.css';

@variant md {
	#nd-page article {
	  @apply bg-fd-muted rounded-xl border shadow-xl my-4;
	}
  
	#nd-tocnav,
	#nd-subnav > div {
	  border: none;
	}
  
	.fd-default-layout #nd-page article {
	  @apply ml-4 mr-16;
	}
  
	.fd-notebook-layout #nd-page article {
	  @apply ml-6 mr-12;
	}
  }
  
  #nd-sidebar {
	@apply bg-fd-background rounded-r-xl my-4 border-r border-y border-fd-border;
  }
  
  #nd-sidebar[data-collapsed='false'] {
	--color-fd-muted: inherit;
	--color-fd-secondary: inherit;
	--color-fd-muted-foreground: inherit;
  }
  