@import 'tailwindcss';
@import 'fumadocs-ui/css/ocean.css';
@import 'fumadocs-ui/css/preset.css';


body {
	background-image: linear-gradient(
	  rgba(5, 105, 255, 0.15),
	  transparent 20rem,
	  transparent
	);
	background-repeat: no-repeat;
}
  

@variant md {
	#nd-page article {
	  @apply bg-fd-muted rounded-xl border shadow-xl my-4;
	}
  
	#nd-tocnav,
	#nd-subnav > div {
	  border: none;
	}
  
	.fd-default-layout #nd-page article {
	  @apply mx-6 lg:ml-6 lg:mr-16;
	}
}
  
#nd-sidebar {
	@apply bg-fd-muted rounded-r-xl border-r my-4;
}
