'use client';

import { ConnectButton } from '@rainbow-me/rainbowkit';

export function Header() {
  return (
    <header className='flex h-14 items-center justify-between border-b px-6'>
      <h2 className='text-lg font-bold'>{{projectName}}</h2>
      <ConnectButton />
    </header>
  );
}
